
/* SPECIAL DISH */
.special {
    /*display: flex;*/
    background-color: var(--cream);
    /*width: 50%;*/
    /*height: 275px;*/
    position: relative;
    margin: auto;
    border: 5px solid var(--color-red);
    border-left-color: var(--color-yel);
    border-top-color: var(--color-yel);
}

.special-alert {
    background-color: var(--color-red);
    color: white;
    font-weight: bold;
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: absolute;
    text-align: center;
    width: 50%;
    min-width: max-content;
    left: 25%;
    top: -15px;
    box-shadow: 4px 4px var(--color-yel);
    transform: rotate(-10deg);
}
@keyframes bounce {
    0%   {top: -15px;}
    45%   {top: -15px;}
    50%  {top: -20px;}
    55%   {top: -15px;}
    100%   {top: -15px;}
  }

.special-alert > * {
    /*background-color: var(--color-red) ;*/
    margin: 0;
    font-size: 2.5em;
}

.special-img {
    /*float: left;*/
    height: auto;
    width: auto;
}

.special-img img {
    width: auto;
    height: 225px;
    margin: 25px 0 25px 15px;
    border-radius: 75px;
    object-fit: cover;
}

.rating {
    display: flex;
    /*position: absolute;*/
    right: 10%;
    top: 10%;
    background-color: var(--color-red);
    border-radius: 50%;
    width: max-content;
}

.rating img {
    width: 50px;
    height: 50px;
    animation-name: star-bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
}
.rating img:nth-child(1){
    animation-delay: 0.12s;
}
.rating img:nth-child(2){
    animation-delay: 0.24s;
}
.rating img:nth-child(3){
    animation-delay: 0.36s;
}
.rating img:nth-child(4){
    animation-delay: 0.48s;
}
.rating img:nth-child(5){
    animation-delay: 0.60s;
}
@keyframes star-bounce {
    0%   {}
    45%   {top: 0px; filter: brightness(100%);}
    50%  {top: -15px; filter: drop-shadow(0px 0px 7px white) brightness(250%);}
    55%   {top: 0px; filter: drop-shadow(0px) brightness(100%);}
    100%   {}
  }

.special-title {
   /* position: absolute;*/
    /*width: 50%;*/
    right: 5%;
    top: 40%;
    text-align: center;
}

.special-title *{
    margin: 0px;
}

.special .tags {
    margin-top: 1em;
}