body.login-body {

    background-image: url("../img/pasta-limon.jpg");
    background-position: right;
    background-size: cover !important;
    padding: 0px !important;
    background-repeat: no-repeat;
	background-attachment: initial;
	background-size: auto;
}

/* --------------------- */

.login {
    background-color: white;
    float: left;
    height: 100vh;
    width: 50vw;
    text-align: center;
}

.login-content {
    margin-top: 8vh;
    padding: 1.5vw;
    position: relative;
}

.login-content h2 {
    margin-bottom: 2em;
}

.log-form {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}

.email-field input, .pass-field input {
    height: 2.5em;
    margin: 0px 0px 1.5vw 0px;
    border: 0px;
    width: 100%;
    background-color: lightgray;
    text-align: left;
}

.email-field, .pass-field {
    width: 100%;
    text-align: left !important;
}

.log-form input:focus {
    outline: none;
}

.log-option {
    width: 100%;
    float: left;
}

.remember-me {
    float: left;
}

/*
.forgot {
    float: right;
}
*/

.exit-log {
	position: absolute;
	right: 0px;
	top: -10px;
}

.exit-log i {
	font-size: 25px;
	color: var(--color-red);
	transition: all 0.5s;
}

.exit-log:hover i {
	color: var(--color-yel);
}

.button-login, .send-email {
    margin: 2vw 25% 2vw 25%;
    background: var(--color-yel) !important;
    /*width: 50%;*/
    width: max-content !important;
    border: none;
    height: 2.5em;
    color: white;
    font-weight: bold;
}

.img-user {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    margin-bottom: 2.5vh;
}

.goto-registro {
    color: gray;
}

.goto-registro a {
    color: lightseagreen;
}

.goto-registro a:hover {
    color: rgba(202,127,216,1);
}

/* -------------------- */

.send-email {
    /*width: 30% !important;/*
    /*font-weight: normal;*/
    width: max-content !important;
    text-align: center;
    float: right;
}

.form-subtitle {
    width: 75%;
    margin: auto;
    margin-bottom: 4vw !important;
}

.recovery-title {
    margin-bottom: 0px !important;
}

@media (max-width: 768px) {
	
	.login {
        float: none;
        height: 100vh;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 6vh 3vw;
	}
    
    .login-content {
        height: max-content;
        padding: 6vw;
        background-color: white;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
	
}