.profile {
    width: 100%;
    margin-top: 25px;
}

.profile-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 100%;
}

.profile-pic {
        text-align: center;
}

.profile-pic img {
    border-radius: 50%;
    object-fit: cover;
    height: 250px;
    width: 250px;
}

.profile-info {
    margin-left: 40px;
}

.profile-info ul li{
    list-style: none;
}