.profile {
	width: 100%;
	margin-top: 25px;
}

.profile-content {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	font-size: 100%;
}

.profile-pic {
	text-align: center;
}

.profile-pic img {
	border-radius: 50%;
	object-fit: cover;
	height: 250px;
	width: 250px;
}

.status {
	width: max-width;
	height: max-height;
	position: absolute;
	right: -12.5px;
}

.status img{
	width: 25px !important;
	height: 25px !important;
	/* The white border around the icon */
	-webkit-filter: drop-shadow(1px 1px 0 white)
		drop-shadow(-1px -1px 0 white)
		drop-shadow(-1px 1px 0 white)
		drop-shadow(1px -1px 0 white);
	filter: drop-shadow(1px 1px 0 white)
		drop-shadow(-1px -1px 0 white)
		drop-shadow(-1px 1px 0 white)
		drop-shadow(1px -1px 0 white);
}

.profile-info ul li {
	list-style: none;
}

.profile-info ul {
	padding: 0px;
}

.modAcc button {
	width: auto;
}